
# yarn - we're NOT doing zero installs
node_modules
.yarn
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# webstorm
.idea

# typescript compiler output
build

# yarn pnp (I don't trust it just yet)
.pnp.cjs
.pnp.loader.mjs

